html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
  content: none;
}

a, aside, b, footer, i, ins, kbd, q, s, sup, sub, u {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  display: block;
}

.right {
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: rotateY(270deg);
  transform: rotateY(270deg);
  position: absolute;
  right: 0;
  height: 100%;
}

.left {
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  position: absolute;
  left: 0;
  height: 100%;
}

.top {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: rotateX(270deg);
  transform: rotateX(270deg);
  position: absolute;
  top: 0;
  width: 100%;
}

.bottom {
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.back, .front {
  position: absolute;
  width: 100%;
  height: 100%;
}

a, aside, footer {
  position: absolute;
}

s {
  width: inherit;
  height: inherit;
  position: absolute;
}

@-webkit-keyframes pnMoveUp {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -130.33333vh;
  }
}
@keyframes pnMoveUp {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -130.33333vh;
  }
}
@-webkit-keyframes pnMoveDown {
  0% {
    margin-top: -130.33333vh;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes pnMoveDown {
  0% {
    margin-top: -130.33333vh;
  }
  100% {
    margin-top: 0;
  }
}
[data-room-theme] {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  -webkit-perspective-origin: 50% 36.66667%;
  perspective-origin: 50% 36.66667%;
  -webkit-perspective: 250vh;
  perspective: 250vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
[data-room-theme] > .back {
  height: 100vh;
  width: 200vw;
  left: -50%;
  -webkit-transform: translateZ(-40vh);
  transform: translateZ(-40vh);
}
[data-room-theme] > .top, [data-room-theme] > .bottom {
  width: 200%;
  left: -50%;
}
[data-room-theme] > .top {
  height: 40vh;
}
[data-room-theme] > .bottom {
  height: calc(40vh + 10.66667vh);
}
[data-room-theme] footer {
  bottom: 0;
  position: absolute;
  height: 4vh;
  -webkit-transform: translateZ(-40vh);
  transform: translateZ(-40vh);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.35);
}
[data-room-theme] footer:nth-of-type(1) {
  width: calc(100vw - 38.66667vh);
  left: -50vw;
}
[data-room-theme] footer:nth-of-type(2) {
  width: 9.33333vh;
  left: calc(50vw - 4.66667vh);
}
[data-room-theme] footer:nth-of-type(3) {
  width: calc(100vw - 38.66667vh);
  right: -50vw;
}
[data-room-theme] a {
  width: 34vh;
  height: 90vh;
  top: 10.0vh;
  left: calc(50% + 4.66667vh);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-40vh);
  transform: translateZ(-40vh);
}
[data-room-theme] a:first-of-type {
  left: calc(50% - 38.66667vh);
}
[data-room-theme] a > .top, [data-room-theme] a > .bottom {
  height: 10.66667vh;
}
[data-room-theme] a > .left, [data-room-theme] a > .right {
  width: 10.66667vh;
}

q {
  -webkit-transform: translateZ(-10.66667vh);
  transform: translateZ(-10.66667vh);
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
}
q.asc {
  -webkit-perspective-origin: 90% 36.66667%;
  perspective-origin: 90% 36.66667%;
  -webkit-perspective: 233.33333vh;
  perspective: 233.33333vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
q.desc {
  -webkit-perspective-origin: 10% 36.66667%;
  perspective-origin: 10% 36.66667%;
  -webkit-perspective: 233.33333vh;
  perspective: 233.33333vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

u {
  transform-style: preserve-3d;
}
u::before, u::after {
  content: '';
  position: absolute;
  width: 31.66667vh;
  height: 1.16667vh;
  left: 1.16667vh;
}
u::before {
  top: 28.5vh;
}
u::after {
  bottom: 28.5vh;
}
u > .upside, u > .downside {
  height: 32.83333vh;
  width: 34vh;
}
u > .upside {
  top: 28.5vh;
}
u > .downside {
  bottom: 28.5vh;
}
u i {
  width: 31.66667vh;
  height: 75vh;
  position: relative;
  transform-style: preserve-3d;
  margin: 1.16667vh;
}
u i::before, u i::after {
  content: '';
  position: absolute;
  height: 77.33333vh;
  width: 1.16667vh;
  top: -1.16667vh;
}
u i::before {
  left: -1.16667vh;
}
u i::after {
  right: -1.16667vh;
}
u i > .top, u i > .bottom {
  height: 31.66667vh;
  width: 31.66667vh;
}
u i > .left, u i > .right {
  width: 31.66667vh;
  height: 75vh;
}
u i > .back, u i > .front {
  width: 31.66667vh;
  height: 75vh;
}
u i > .back {
  -webkit-transform: translateZ(-31.66667vh);
  transform: translateZ(-31.66667vh);
}
u sup, u sub {
  width: 30.08333vh;
  height: 28.5vh;
  margin: auto;
  transform-style: preserve-3d;
}
u sup::before, u sub::before {
  content: '';
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  display: block;
  left: -3px;
  -webkit-transform: translateZ(-1.16667vh);
  transform: translateZ(-1.16667vh);
  background: inherit;
  box-shadow: inset 6px 0px 5px 0px rgba(0, 0, 0, 0.46);
}
u sup s, u sub s {
  border-radius: inherit;
}
u sup {
  border-radius: 5vh 5vh 0 0;
  margin-top: -1.66667vh;
  -webkit-transform: translateZ(-5vh);
  transform: translateZ(-5vh);
}
u sub {
  border-radius: 0 0 5vh 5vh;
  -webkit-transform: translateZ(-3.83333vh);
  transform: translateZ(-3.83333vh);
  box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.45);
}

.asc u sub::before, .asc u sup::before {
  left: auto;
  box-shadow: inset -6px 0px 5px 0px rgba(0, 0, 0, 0.46);
  right: -3px;
}

/*# sourceMappingURL=main.css.map */
