html {
  font-size: 62.5%;
  line-height: 1.4;
  box-sizing: border-box;
  background-size: cover;
  height: 100%;
  position: relative;
}

body {
  color: #333;
  font: normal 1.4rem/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  z-index: 0;
  background: #fff;
}

*, *:before, *:after {
  box-sizing: border-box;
}

address, article, aside, audio, blockquote, dd, div, dl, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header,
hr, noscript, ol, output, p, pre, section, summary, ul, main {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  white-space: normal;
}

h1 {
  font-size: 2rem;
  margin: 0.67rem 0;
}

h2 {
  font-size: 1.5rem;
  margin: 0.83rem 0;
}

h3 {
  font-size: 1.17rem;
  margin: 1rem 0;
}

h4 {
  font-size: 1rem;
  margin: 1.33rem 0;
}

h5 {
  font-size: 0.83rem;
  margin: 1.67rem 0;
}

h6 {
  font-size: 0.67rem;
  margin: 2.33rem 0;
}

blockquote {
  margin: 1rem 40px;
}

blockquote, dd, dl, fieldset, figure, h1, h2, h3, h4, h5, h6,
hr, ol, p, pre, ul {
  display: block;
  margin-bottom: 10px;
  white-space: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-style: normal;
}

iframe {
  border: none;
}

audio,
canvas,
video,
svg {
  display: inline-block;
  vertical-align: middle;
}

a {
  cursor: pointer;
  background: transparent;
  text-decoration: none;
  outline: 0;
  color: #2B518A;
}
a:focus {
  outline: thin dotted;
}
a:hover {
  text-decoration: underline;
  color: #2d538b;
}
a:hover:before, a:hover:after {
  text-decoration: none !important;
}
a.block {
  color: #333;
  text-decoration: none;
  display: block;
}

code, pre, samp {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 1.4rem;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  background: #ddd;
  padding: 2px 6px;
  display: inline-block;
  margin: 0 3px;
  border-radius: 2px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
q:before, q:after {
  content: '';
}

small {
  font-size: 1.1rem;
}

sub,
sup {
  font-size: .75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5rem;
}

sub {
  bottom: -0.25rem;
}

img {
  border: 0;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

label, button {
  cursor: pointer;
}

button {
  vertical-align: middle;
  outline: 0;
  overflow: visible;
  border: none;
}

button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  text-transform: none;
  vertical-align: baseline;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input {
  border: 1px solid #ddd;
  border-radius: 1px;
}

select {
  max-width: 100%;
}

audio:not([controls]),
[hidden], template,
.hidden, .deleted,
.js, .js-hide {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.viewport-hidden {
  position: absolute;
  left: -10000px;
  top: -10000px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disabled, *:disabled {
  cursor: default;
  opacity: .7;
}

@-webkit-keyframes pnMoveUp {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -358.68132%;
  }
}
@keyframes pnMoveUp {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -358.68132%;
  }
}
@-webkit-keyframes pnMoveDown {
  0% {
    margin-top: -358.68132%;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes pnMoveDown {
  0% {
    margin-top: -358.68132%;
  }
  100% {
    margin-top: 0;
  }
}
@-webkit-keyframes pnMoveDownPersp {
  0% {
    -webkit-perspective-origin: 50% 25%;
    perspective-origin: 50% 25%;
  }
  100% {
    -webkit-perspective-origin: 50% 100%;
    perspective-origin: 50% 100%;
  }
}
@keyframes pnMoveDownPersp {
  0% {
    -webkit-perspective-origin: 50% 25%;
    perspective-origin: 50% 25%;
  }
  100% {
    -webkit-perspective-origin: 50% 100%;
    perspective-origin: 50% 100%;
  }
}
body {
  background: url(img/wallpaper.gif);
}

.paternoster {
  position: relative;
  margin: auto;
  max-width: 900px;
  overflow: hidden;
}
.paternoster:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 88.88889%;
}
.paternoster > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.paternoster ul, .paternoster li, .paternoster u, .paternoster i, .paternoster b, .paternoster s {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}
.paternoster ul {
  display: -webkit-flex;
  display: flex;
  -webkit-direction: row;
  direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.paternoster ul li {
  -ms-order: 0;
  -webkit-order: 0;
  order: 0;
  flex-item-align: stretch;
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
  -ms-flex: 0 0 42.12963%;
  -webkit-flex: 0 0 42.12963%;
  flex: 0 0 42.12963%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 100%;
}
.paternoster ul li u {
  width: 100%;
  height: 100%;
  padding: 2.63736%;
  position: relative;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  animation: pnMoveDownPersp 10s linear infinite;
}
.paternoster ul li u::before, .paternoster ul li u::after {
  content: '';
  position: absolute;
  left: 2.63736%;
  width: 94.72527%;
  height: 1.31868%;
  z-index: 2;
  border-left: 1px rgba(0, 0, 0, 0.7) solid;
  border-right: 1px rgba(0, 0, 0, 0.7) solid;
}
.paternoster ul li u::before {
  top: 0;
  border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
}
.paternoster ul li u::after {
  bottom: 0;
  border-top: 1px rgba(0, 0, 0, 0.3) solid;
}
.paternoster ul li u s {
  position: absolute;
  width: 100%;
  height: 100%;
}
.paternoster ul li u > s {
  margin-top: -2.63736%;
  margin-left: -2.63736%;
  z-index: 3;
}
.paternoster ul .asc {
  margin-right: 15.74074%;
}
.paternoster ul .asc u:first-of-type {
  margin-top: 0%;
}
.paternoster ul .desc u:first-of-type {
  margin-top: 0;
}
.paternoster i {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 4;
  -webkit-perspective: 800px;
  perspective: 800px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.paternoster i b {
  display: block;
  position: absolute;
  width: 100%;
}
.paternoster i b.right, .paternoster i b.left, .paternoster i b.back, .paternoster i b.front {
  height: 100%;
}
.paternoster i b.top, .paternoster i b.bottom {
  width: 100%;
  height: 46.04701%;
}
.paternoster i b.right {
  border-right-color: rgba(0, 0, 0, 0.7);
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}
.paternoster i b.left {
  border-left-color: rgba(0, 0, 0, 0.7);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.paternoster i b.back {
  -webkit-transform: rotateY(180deg) translateZ(359.16667px);
  transform: rotateY(180deg) translateZ(359.16667px);
}
.paternoster i b.top {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.paternoster i b.bottom {
  top: auto;
  bottom: 0;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
}

/*# sourceMappingURL=main.css.map */
