@import './bootstrap';

html {
    font-size: 62.5%;
    line-height: 1.4;
    box-sizing: border-box;
    background-size: cover;
    height: 100%;
    position: relative;
}

body {
    color: $textColor;
    font: normal 1.4rem/1.4 $regularFont;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    z-index: 0;
    background: $bgColor;
}

*, *:before, *:after {
    box-sizing: border-box;
}

address, article, aside, audio, blockquote, dd, div, dl, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header,
hr, noscript, ol, output, p, pre, section, summary, ul, main {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    white-space: normal;
}

h1 {
    font-size: 2rem;
    margin: 0.67rem 0;
}

h2 {
    font-size: 1.5rem;
    margin: 0.83rem 0;
}

h3 {
    font-size: 1.17rem;
    margin: 1rem 0;
}

h4 {
    font-size: 1rem;
    margin: 1.33rem 0;
}

h5 {
    font-size: 0.83rem;
    margin: 1.67rem 0;
}

h6 {
    font-size: 0.67rem;
    margin: 2.33rem 0;
}

blockquote {
    margin: 1rem 40px;
}

blockquote, dd, dl, fieldset, figure, h1, h2, h3, h4, h5, h6,
hr, ol, p, pre, ul {
    display: block;
    margin-bottom: 10px;
    white-space: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-style: normal;
}

iframe {
    border: none;
}

audio,
canvas,
video,
svg {
    display: inline-block;
    vertical-align: middle;
}

a {
    cursor: pointer;
    background: transparent;
    text-decoration: none;
    outline: 0;
    color: $linkColor;
    &:focus {
        outline: thin dotted;
    }
    &:hover {
        text-decoration: underline;
        color: mix(white, $linkColor, .9);
        &:before, &:after {
            text-decoration: none !important;
        }
    }
    &.block {
        color: $textColor;
        text-decoration: none;
        display: block;
    }
}

code, pre, samp {
    font-family: $monospaceFont;
    font-size: 1.4rem;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

code {
    background: #ddd;
    padding: 2px 6px;
    display: inline-block;
    margin: 0 3px;
    border-radius: 2px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
    &:before,
    &:after {
        content: '';
    }
}

small {
    font-size: 1.1rem;
}

sub,
sup {
    font-size: .75rem;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5rem;
}

sub {
    bottom: -0.25rem;
}

img {
    border: 0;
    max-width: 100%;
}

svg:not(:root) {
    overflow: hidden;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

label, button {
    cursor: pointer;
}

button {
    vertical-align: middle;
    outline: 0;
    overflow: visible;
    border: none;
}

button,
input,
select,
textarea {
    font-family: $regularFont;
    font-weight: normal;
    line-height: normal;
    text-transform: none;
    vertical-align: baseline;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

input {
    @include simple-border();
    border-radius: 1px;
}

select {
    max-width: 100%;
}

audio:not([controls]),
[hidden], template,
.hidden, .deleted,
.js, .js-hide {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    &.focusable {
        &:active,
        &:focus {
            clip: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            position: static;
            width: auto;
        }
    }
}

.invisible {
    visibility: hidden;
}

.viewport-hidden {
    position: absolute;
    left: -10000px;
    top: -10000px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.disabled, *:disabled {
    cursor: default;
    opacity: .7;
}
