@import './bootstrap';

body {
	background: url(img/wallpaper.png);
	& > footer {
		z-index: -1;
		position: relative;
		background: #999 ;
		min-height: 100px;
		&:before, &:after {
			content: '';
			width: 100%;
			position: absolute;
		}
		&:before {
			top: -30px;
			height: 30px;
			z-index: 1;
			background: linear-gradient(to bottom, white(0.3) 0%, transparent 19%, transparent 100%),
			#845E45 url("themes/wood/img/top-bottom.jpg") repeat-x;
		}
		&:after {
		}
	}
}