@import './bootstrap';

@include keyframes(pnMoveUp) {
    0% {
        margin-top: 0;
        //	@include vendor-prefix(perspective-origin, 1% 1%, property, (-webkit-, ''));
    }
    100% {
        margin-top: relativeWidth($cageUnitHeight, ($cageOuterWidth * -1));
        //	@include vendor-prefix(perspective-origin, 100% 100%, property, (-webkit-, ''));
    }
}

@include keyframes(pnMoveDown) {
    0% {
        margin-top: relativeWidth($cageUnitHeight, ($cageOuterWidth * -1));
    }
    100% {
        margin-top: 0;
    }
}

@include keyframes(pnMoveDownPersp) {
    0% {
        @include vendor-prefix(perspective-origin, 50% 25%, property, (-webkit-, ''));
    }
    100% {
        @include vendor-prefix(perspective-origin, 50% 100%, property, (-webkit-, ''));
    }
}