@import './bootstrap';

@include keyframes(pnMoveUp) {
    0% {
        margin-top: 0;
    }
    100% {
        //margin-top: proportion($cageUnitHeight, ($cageOuterWidth * -1));
        margin-top: proportion((map-get($meters, 'unitInnerY') + map-get($meters, 'skirtingY')*2 - map-get($meters, 'skirtingOverlap')) * -1, map-get($meters, 'roomY'), 'vh');
        
        
        
    }
}

@include keyframes(pnMoveDown) {
    0% {
        //margin-top: proportion($cageUnitHeight, ($cageOuterWidth * -1));
        margin-top: map-get($meters, 'unitInnerY') + map-get($meters, 'skirtingY');
    }
    100% {
        margin-top: 0;
    }
}
