// fonts
$monospaceFont: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
$regularFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$headingFont: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

// pater noster
$canvasMaxX: 900;
$canvasMaxY: 800;

$cageRatioX: 364;
$cageRatioY: 768;

$cageMaterialThickness: 10;

$cageOuterHeight: $canvasMaxY;
$cageOuterWidth: $cageOuterHeight * $cageRatioX / $cageRatioY;

$cageInnerHeight: $cageOuterHeight - ($cageMaterialThickness * 2);
$cageInnerWidth: $cageOuterWidth - ($cageMaterialThickness * 2);

$cageDistanceBlockWidth: 0; // same as width!
$cageDistanceBlockHeight: 280; // same as width?

$cageUnitHeight: $cageOuterHeight + ($cageDistanceBlockHeight * 2);
$cageDepth: $cageInnerWidth;