$scope: '.paternoster-room';

// 2.20m for the paternoster plus .5m to the sealing
$meters: (
	roomY: 3, // = 100vh
	eyeY: 	1.7,
	roomZ: 1.8, // actually: how far removed is the viewer from the aperture
	unitInnerX: .95,
	unitInnerY: 2.25,
	unitBoardThickness: .02,
	skirtingOverlap: .05,
	upperSkirtingZ: .04,
	apertureY: 2.7,
	apertureZ: .2,
	apertureDistance: .28,
	skirtingRadius: .15,
	skirtingBoardHeight: .12 // skirting board != skirting!
);

$meters: map-merge($meters, (
	unitInnerZ: map-get($meters, 'unitInnerX'),
	skirtingX: map-get($meters, 'unitInnerX') * .95, // as in 'a bit narrower than the unit'
	skirtingY: map-get($meters, 'unitInnerX') * .9, // not quite square
	lowerSkirtingZ: map-get($meters, 'upperSkirtingZ') + map-get($meters, 'unitBoardThickness'),
	apertureX: map-get($meters, 'unitInnerX') + (2 * map-get($meters, 'unitBoardThickness'))
));

$meters: map-merge($meters, (
	apertureTop: map-get($meters, 'roomY') - map-get($meters, 'apertureY'),
	ascLeftNudge: (map-get($meters, 'apertureDistance') / 2) + map-get($meters, 'apertureX'),
	descLeftNudge: (map-get($meters, 'apertureDistance') / 2),
	unitX: map-get($meters, 'apertureX'),
	unitY: map-get($meters, 'unitInnerY') + (2 * map-get($meters, 'unitBoardThickness'))
));

$meters: map-merge($meters, (
	skirtingBoard_1_Width: map-get($meters, 'ascLeftNudge'),
	skirtingBoard_1_Left: 0,
	skirtingBoard_2_Width: map-get($meters, 'apertureDistance'),
	skirtingBoard_2_LeftNudge: map-get($meters, 'ascLeftNudge') +  map-get($meters, 'apertureX'),
));

$meters: map-merge($meters, (
	skirtingBoard_3_Width: map-get($meters, 'skirtingBoard_1_Width'),
	skirtingBoard_3_LeftNudge: map-get($meters, 'descLeftNudge') + map-get($meters, 'apertureX')
));


$vendorPrefixes: (-webkit-, '');
