@import './bootstrap';

#{$scope} {

	a {
		border: 1px #000 solid;
		width: vh('apertureX');
		height: vh('apertureY');
		top: vh('apertureTop');
		left: calc(50% + #{vh('descLeftNudge')});
		&:first-of-type {
			left: calc(50% - #{vh('ascLeftNudge')});
		}
		@include vendor-prefix(transform-style, 'preserve-3d', property, $vendorPrefixes);
		@include vendor-prefix(transform, translateZ(vh('roomZ', '-')), property, $vendorPrefixes);
		s {
			&.top, &.bottom {
				height: vh('apertureZ')
			}
			&.left, &.right {
				width: vh('apertureZ')
			}
			&.top {
				background: radial-gradient(ellipse farthest-corner at center, black(.35) 0%, black(.40) 75%);
			}
			&.right {
				background: linear-gradient(-14deg, transparent 0%, transparent 06%, black(.43) 100%);
			}
			&.left {
				background: linear-gradient(14deg, transparent 0%, transparent 06%, black(.43) 100%);
			}
		}
	}
}
