// default setup for panels
$defaultPanels: (
    images:(
        top: (
            image: 'url(img/top-bottom.jpg))',
			size: cover
        ),
        right: (
            image: 'url(img/front-back-sides.jpg)',
			size: cover
        ),
        bottom: (
            image: 'url(img/top-bottom.jpg)',
			size: cover
        ),
        left: (
            image: 'url(img/front-back-sides.jpg)',
			size: cover
        ),
        back: (
            image: 'url(img/front-back-sides.jpg)',
			size: cover
        ),
        front: (
        ),
        cage-frame: (
            image: 'url(img/front-back-sides.jpg)',
            size: contain
        ),
        top-frame: (
            image: 'url(img/top-bottom.jpg)',
			size: cover
        ),
        bottom-frame: (
            image: 'url(img/top-bottom.jpg)',
			size: cover,
			position: 'center bottom'
        )
    ),
    shadows: (
        top: (
            shadow: 'linear-gradient(0deg, #{black(.68)}, #{black(.2)})'
        ),
        right: (
            shadow: 'linear-gradient(135deg, #{black(.68)}, transparent)'
        ),
        bottom: (
            shadow: 'linear-gradient(180deg, #{black(.2)}, transparent)'
        ),
        left: (
            shadow: 'linear-gradient(-135deg, #{black(.68)}, transparent)'
        ),
        back: (
            shadow: 'linear-gradient(180deg, #{black(.68)}, transparent)'
        ),
        front: (
        ),
        cage-frame: (
            shadow: 'linear-gradient(180deg, #{white(.3)}, #{white(.2)})'
        )
    )
);

$panelSkeleton: (
    shorthand: '',
    color: '',
    image: '',
    repeat: '',
    attachment: '',
    position: '',
    size: '',
    origin: '',
    clip: '',
    shadow: ''
);