@import '../../inc/functions';



@function getThemeClass($theme){
	$themeClass: to-lower-case($theme);
	@return $themeClass;
}

@function list-implode($separator, $list) {
	$str: '';
	$len: length($list) ;

  	@each $item in $list {

    	$i: index($list, $item);  
    	@if($item != '') {    		
    		$str: #{$str + $item};

    		@if($i < $len) {  	
    			$str: #{$str + $separator};
    		}
    	}
  	}
  	@return $str;
}

// @todo move everything background to an include file
@function getImage($panel){	

	$finalImages: ();

	$image: map-get($panel, 'image');
	$images: map-get($panel, 'images');
	$positions: map-get($panel, 'positions');
	$shadow: map-get($panel, 'shadow');

	@if($image != ''){
		$images: append($images, $image);
	}

	@if($shadow != ''){
		$finalImages: append($finalImages, $shadow);
	}

	$posLen: length($positions);
  	@each $image in $images {

    	$i: index($images, $image);    	
  		$image: url(#{$image});
  		@if($i <= $posLen) {
  			$image: $image + ' ' + nth($positions, $i);
  		}

  		$finalImages: append($finalImages, $image);
  	}

	@return ( image: list-implode(', ', $finalImages) );
} 

@function getShadow($side, $panel) {

	$shadow: '';

	if(map-get($panel, 'shadow') != false) {
		$shadow: map-get($panel, 'shadow');
	}

	@if($shadow != '' and str-index($shadow, 'gradient') == null) {
		$shadow: linear-gradient(#{$shadow}); 
	}

	@return ( shadow: $shadow );
}

@function getSeparator($panel) {

	$position:  map-get($panel, 'position');
	$size:      map-get($panel, 'size');
	$separator: map-get($panel, 'separator');

	@if($size != '' and $position == '')	{
		$position: 'top left'
	}

	@if($size != '')	{
		$separator: '/';
	}

	@return (
		position: $position,
		size: $size,
		separator: $separator
	);
}

@function getPanel($side) {
	$panel: (
		color: '',
		image: '',
		repeat: '',
		attachment: '',
		position: '',
		size: '',
		origin: '',
		clip: '',
		positions: (),
		images: (),
		shadow: true,
		separator: ''
	);
	@if(map-has-key($defaultPpanels, $side)) {		
		$panel: map-merge($defaultPpanels, map-get($panels, $side));
	}
	@if(map-has-key($panels, $side)) {		
		$panel: map-merge($panel, map-get($panels, $side));
	}
	$panel:  map-merge($panel, getShadow($side, $panel));
	$panel:  map-merge($panel, getImage($panel));
	$panel:  map-merge($panel, getSeparator($panel));
	@return  $panel;
}

@mixin background($side) {

	$panel: getPanel($side);

	$background: list-implode(' ', (		
		map-get($panel, 'color'),
		map-get($panel, 'image'),
		map-get($panel, 'repeat'),
		map-get($panel, 'attachment'),
		map-get($panel, 'position'),
		map-get($panel, 'separator'),
		map-get($panel, 'size'),
		map-get($panel, 'origin'),
		map-get($panel, 'clip')
	));

	@if($background != '') {
		background: $background;
	}
}
